div(data-ng-controller='HeaderController', layout='column', layout-align='top center')
  md-toolbar(scroll="")
    .md-toolbar-tools
      h2(md-header-title='', flex='') CUSharing
      md-button.md-tools(aria-label='Subject',data-ng-if='authentication.user',data-ui-sref='all')
       i.ion-ios-book-outline
      md-button.md-tools(aria-label='New feed',data-ng-if='authentication.user',data-ui-sref='feed')
       i.ion-person-stalker
      md-button.md-tools(aria-label='Profile',data-ng-if='authentication.user',data-ui-sref='me')
       i.ion-person
      md-button.md-tools(aria-label='village',data-ng-if='authentication.user')
       i.ion-home
      md-button.md-tools(aria-label='signout',data-ng-if='authentication.user',href='/auth/signout')
       i.ion-log-out
      md-button.md-tools(aria-label='signin',data-ng-if='!authentication.user',data-ui-sref='signin')
       i.ion-log-in
      md-button.md-tools(aria-label='signup',data-ng-if='!authentication.user',data-ui-sref='signup')
       i.ion-ios-compose 