.container.body
			.left-panel
				.profile
					.header
						.name Kitipong Siriruengsakul
						.screen-name @Gugengmak
					.detail.last-section
						.col
							.text Post
							.number 30
						.col
							.text Favourite
							.number 3999
			.main-panel
				.new-tweet.first-item
					form.form-horizontal
						.form-group
							.tweet-text.col-sm-10
								input#tweetText.form-control(type='text', placeholder="What's happening")
							.col-sm-2
								input.btn.btn-default(type='button', value='Tweet')
				.tweet-list
					.tweet.first-item
						.name
							| Kitipong Siriruengsakul
						.screen-name
							| @Gugengmak
						.tweet-text
							| Eiei
						.action
							.reply(data-toggle='modal', data-target='#replyModal')
								i.fa.fa-reply
					.tweet
						.name
							| Kitipong Siriruengsakul
						.screen-name
							| @Gugengmak
						.tweet-text
							| Eiei
						.action
							.reply(data-toggle='modal', data-target='#replyModal')
								i.fa.fa-reply
					.tweet
						a(href='user.jade')
							.name
								| John Doe
							.screen-name
								| @johndoe
						.tweet-text
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id sollicitudin urna. Aenean vitae dapibus quam. Suspendisse volutpat.
						.action
							.reply(data-toggle='modal', data-target='#replyModal')
								i.fa.fa-reply
		#replyModal.modal.fade(aria-labelledby='replyModalLabel', tabindex='-1', role='dialog')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ?
						h4#replyModalLabel.modal-title Reply
					.modal-body
						form
							.text-area-wrapper
								textarea.text-area(rows='4', cols='52') @cosine
							.text-right
								input.btn.btn-default(type='submit', value='Reply')
								input.btn.btn-danger(type='button', data-dismiss='modal', value='Close')