.container.body
			.left-panel
				.profile
					.header
						.name Kitipong Siriruengsakul
						.screen-name @Gugengmak
					.detail.last-section
						.col
							.text Post
							.number 30
						.col
							.text Favourite
							.number 3999
			.main-panel
				.tweet-list
					.tweet.first-item
						.name
							| Kitipong Siriruengsakul
						.screen-name
							| @Gugengmak
						.tweet-text
							| Eiei
						.action
							.reply(data-toggle='modal', data-target='#replyModal')
								i.fa.fa-reply
					.tweet
						.name
							| Kitipong Siriruengsakul
						.screen-name
							| @Gugengmak
						.tweet-text
							| Eiei
						.action
							.reply(data-toggle='modal', data-target='#replyModal')
								i.fa.fa-reply
					.tweet
						.retweeted
							| Kitipong Siriruengsakul favourtite
						a(href='user.jade')
							.name
								| Cosjung
							.screen-name
								| @cosine
						.tweet-text
							| 1 ticket
						.action
							.reply(data-toggle='modal', data-target='#replyModal')
								i.fa.fa-reply
